In [3]:
from pyspark.sql import SparkSession
# spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

22/10/26 00:53:21 WARN Utils: Your hostname, paco-System-Product-Name resolves to a loopback address: 127.0.1.1; using 192.168.1.74 instead (on interface wlp5s0)
22/10/26 00:53:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/26 00:53:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [11]:
df_pyspark = spark.read.csv('files/test1.csv', header=True, inferSchema=True)

In [14]:
df_pyspark.show(2)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+
only showing top 2 rows

# Fileter operations

In [16]:
# Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [17]:
df_pyspark.filter("Salary<=20000").select(['Name', 'age'])

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [18]:
df_pyspark.filter(
    df_pyspark['Salary']<=20000
)

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [22]:
df_pyspark.filter(
    (df_pyspark['Salary']<=20000) & 
    (df_pyspark['Salary']>=15000)
)

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [23]:
df_pyspark.filter(
    (df_pyspark['Salary']<=20000) | 
    (df_pyspark['Salary']>=15000)
)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [25]:
df_pyspark.filter(
    ~(df_pyspark['Salary']<=20000)
)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+