In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Agg').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('files/test3.csv', header=True, inferSchema=True)

In [12]:
df_pyspark

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
## Groupby
### Group to find the maximum salary
df_pyspark.groupBy('Name').sum()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [19]:
## Groupby Departments which gives maximum salary

df_pyspark.groupBy('Departments').max()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [22]:
df_pyspark.groupBy('Departments').min()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [20]:
df_pyspark.groupBy('Departments').mean()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [23]:
df_pyspark.groupBy('Departments').count()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [24]:
df_pyspark.agg(({'Salary': 'sum'}))

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+